name: "CI"
on: ["push", "pull_request"]

jobs:
  test_and_build:
    name: "Compile & Lint"
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/checkout@v1
    - name: Setup elixir
      uses: erlef/setup-beam@v1
      with:
        version-file: ".tool-versions"
        version-type: strict

    - run: mix deps.get

    - uses: actions/cache@v3
      id: mix-cache
      with:
        path: |
          ./_build
          ./priv/plts
        key: deps-${{ hashFiles('**/mix.lock') }}

    - if: steps.mix-cache.outputs.cache-hit != 'true'
      run: |
        mkdir -p priv/plts
        mix local.rebar --force
        mix local.hex --force
        mix deps.compile
        mix dialyzer --plt

    - run: |
        mix lint
